<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>一枚渣渣程序媛</title>

    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}">
    <link rel="stylesheet"  th:href="@{css/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<header>
    <div class="header-top">
        <div class="header-left"></div>
        <div calss="header-contener">
            <ul class="box">
                <li><a class="linking" href="/admin">INDEX</a></li>
                <li><a class="linking" href="/admin/blog.html">BLOGS</a></li>
                <li><a class="linking" href="/admin/about">ABOUT ME</a></li>

            </ul>
        </div>
    </div>
    <div class="inner-header">
        <div class="header-img">
            <img th:src="@{images/header.jpg}">
        </div>
    </div>
</header>

<!-- <div class="introduce">
    <h4>ABOUT ME</h4>
    <div class="me">
        如何让你遇见我在我最美丽的时刻，为这我已在佛前求了五百年，求他让我们结一段尘缘。佛于是把我化作一棵树，长在你必经的路旁，阳光下慎重地开满了花，朵朵都是我前世的盼望。当你走近请你细听，那颤抖的叶是我等待的热情，而当你终于无视地走过，在你身后落了一地的……朋友啊那不是花瓣，是我凋零的心！

    </div>
</div> -->

<footer class="foot">Copyright © jiang 2018</footer>
</body>