.container{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
.content{
    width: 100%;
    float: left;
    padding-left: 3%;
    padding-right: 5%;
    margin-left: 0px;
    position: relative;
    
}
.content p{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.content h2{
    font-weight: 700;
    text-align: center;
}
.author{
	width: 100%;
    color: #ccc;
    float: left;
    margin-left: 10%;
}
.item{
	float: left;
	padding-right: 2%;
}
/*.icon{
	float: left;
}*/