<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>一枚渣渣程序媛</title>

	<link rel="stylesheet" type="text/css" th:href="@{index/css/index.css}" >
	<link rel="stylesheet" type="text/css" th:href="@{index/css/common.css}">
	<link rel="stylesheet"  th:href="@{index/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
	<script th:src="@{index/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{index/css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
</head>
<body>
	<header>
		<div class="header-top">
			<div class="header-left"></div>
			<div calss="header-contener">
				<ul class="box">
					<li><a class="linking" href="index.html">HOME</a></li>
					<li><a class="linking" href="blog.html">BLOGS</a></li>
					<li><a class="linking" href="about.html">ABOUT ME</a></li>
					
				</ul>
			</div>
		</div>
		<div class="inner-header">
			<div class="header-img">
				<img th:src="@{index/images/header.jpg}">
			</div>
		</div>
	</header>
	<div class="container">
		<div class="content">
			<div class="brief">
				<a href="view.html" class="linking"><h2 class="content-title">无聊的感慨</h1>
				<div class="content-brief">
					<p>我将于茫茫人海中访我唯一灵魂之伴侣，得之，我幸，不得，我命。<br>
						
					</p>
				</div></a>
				<p class="author">2018-6-2 jiang</p>	
			</div>
			<hr>
			<div class="brief">
				<a href="" class="linking"><h2 class="content-title">一颗开花的树</h1>
				<div class="content-brief">
					<p>如何让你遇见我在我最美丽的时刻，为这我已在佛前求了五百年，求他让我们结一段尘缘。佛于是把我化作一棵树，长在你必经的路旁，阳光下慎重地开满了花，朵朵都是我前世的盼望。当你走近请你细听，那颤抖的叶是我等待的热情，而当你终于无视地走过，在你身后落了一地的……朋友啊那不是花瓣，是我凋零的心！
					</p>
				</div></a>
				<p class="author">2018-6-2 jiang</p>	
			</div>
			<hr>
		</div>
		<!-- <div class="sider-bar">
			<div class="inner-bar">
				<hr>
				<h5>ABOUT ME</h5>
				<img class="photo" src="images/photo.jpg">
				<p>一个有着丰富PHP开发经验的Java开发工程师</p>
				<hr>
			</div>
		</div>
	</div> -->
	<footer class="foot">Copyright © jiang 2018</footer>
</body>

</html>